---
title: Meetups
layout: default
---

<div class="header-title white ken-burn" data-parallax="scroll" data-position="top" data-natural-height="550" data-natural-width="1920"
    data-image-src="">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>Meetups</h1>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <hr class="space m" />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Link</th>
                        <th>Topic</th>
                        <th>Organizer</th>
                        <th>Location</th>
                        <th>Schedule</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meetup in site.data.meetups %}
                    <tr>
                        <td>{{ meetup.Group }}</td>
                        <td>{% if meetup.Link %}<a href="{{ meetup.Link }}" target="_blank"><i class="im-double-tap" style="font-size: 24px;"></i></a>{% endif %}</td>
                        <td>{{ meetup.Topic }}</td>
                        <td>{{ meetup.Organizer }}</td>
                        <td>{{ meetup.Location }}</td>
                        <td>{{ meetup.Schedule }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>