---
title: Meetups
layout: default
---

<div class="header-title white ken-burn" data-parallax="scroll" data-position="top" data-natural-height="550" data-natural-width="1920"
    data-image-src="">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>Meetups</h1>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <hr class="space m" />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="hidden-sm">
                    <tr>
                        <th>Group</th>
                        <th>Link</th>
                        <th>Topic</th>
                        <th>Organizer</th>
                        <th>Location</th>
                        <th>Schedule</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meetup in site.data.meetups %}
                    <tr>
                        <th class="hidden-md hidden-lg hidden-xl">Group: {{meetup.Group}}</th>
                        <td class="hidden-sm">{{ meetup.Group }}</td>
                        <td class="hidden-md hidden-lg hidden-xl">{% if meetup.Link %} Link: <a href="{{ meetup.Link }}" target="_blank"><i class="im-double-tap" style="font-size: 24px;"></i></a> {% endif %}</td>
                        <td class="hidden-sm">{% if meetup.Link %}<a href="{{ meetup.Link }}" target="_blank"><i class="im-double-tap" style="font-size: 24px;"></i></a>{% endif %}</td>
                        <td class="hidden-md hidden-lg hidden-xl">Topic: {{ meetup.Topic }}</td>
                        <td class="hidden-sm">{{ meetup.Topic }}</td>
                        <td class="hidden-md hidden-lg hidden-xl">Organizer: {{meetup.Organizer}}</td>
                        <td class="hidden-sm">{{ meetup.Organizer }}</td>
                        <td class="hidden-md hidden-lg hidden-xl">Location: {{meetup.Location}}</td>
                        <td class="hidden-sm">{{ meetup.Location }}</td>
                        <td class="hidden-md hidden-lg hidden-xl">Schedule: {{meetup.Schedule}}</td>
                        <td class="hidden-sm">{{ meetup.Schedule }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>