<div class="content">
        <div class="container">
            <div class="row footer-main">
                <!-- <img src="../images/logo.png" alt="" /> -->
                <hr class="space m" />
                <p>Lexington, Kentucky</p>
                <p>Katy Brown, <a href="mailto:katygbrown@gmail.com">katygbrown@gmail.com</a>, Executive Director</p>
                <hr class="space xs" />
                <div class="btn-group navbar-social">
                    <div class="btn-group social-group">
                        <a target="_blank" href="https://www.facebook.com/TABINKY/">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/tab_ky">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    <div class="tag-row">
                        <!-- <span>© ALL RIGHTS RESERVED</span> -->
                        <span>TAB KY</span>
                        <!-- <span>ENVATO MARKETPLACE</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="../scripts/iconsmind/line-icons.min.css">
    <script async src="../scripts/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../scripts/parallax.min.js"></script>
    <script type="text/javascript" src='../scripts/flexslider/jquery.flexslider-min.js'></script>
    <script type="text/javascript" async src='../scripts/isotope.min.js'></script>
    <script type="text/javascript" async src='../scripts/php/contact-form.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.progress-counter.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.tab-accordion.js'></script>
    <script type="text/javascript" async src="../scripts/bootstrap/js/bootstrap.popover.min.js"></script>
    <script type="text/javascript" async src="../scripts/jquery.magnific-popup.min.js"></script>
    <script src='../scripts/social.stream.min.js'></script>
    <script src='../scripts/jquery.slimscroll.min.js'></script>
    <script src='../scripts/smooth.scroll.min.js'></script>