<header class="fixed-top scroll-change" data-menu-anima="fade-in">
    <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
        <div class="navbar navbar-main">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src={{ "/images/tab-logo-crop.png" | absolute_url }} class="tab-logo" alt="logo" />
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="/" role="button">Home
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Engage
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="./special-1.html">Spaces</a>
                                    </li>
                                    <li>
                                        <a href="./service-single-2.html">Membership</a>
                                    </li>
                                    <li>
                                        <a href="./contacts-4.html">Contact</a>
                                    </li>
                                    <li>
                                        <a href="./blog-grid.html">Events</a>
                                    </li>
                                    <li>
                                        <a href="./portfolio-1-gutted-boxed.html">Meetups</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/educate">Educate
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Employ
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="./service-single-1.html">Undrcvr Lex</a>
                                    </li>
                                    <li>
                                        <a href="http://jobs.awesomeinc.org">Jobs Board</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">About
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="./team.html">Member profiles/Sponsors</a>
                                    </li>
                                    <li>
                                        <a href="./blog-1.html">News</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages
                                    <span class="caret"></span>
                                </a>
                                <div class="mega-menu dropdown-menu multi-level row bg-menu">
                                    <div class="col">
                                        <h5>Miscellaneous</h5>
                                        <ul class="fa-ul text-s">
                                            <li>
                                                <i class="fa-li im-file-edit"></i>
                                                <a href="about-1.html">About 1</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-file-edit"></i>
                                                <a href="about-2.html">About 2</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-file-edit"></i>
                                                <a href="about-3.html">About 3</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-board"></i>
                                                <a href="gallery-album.html">Albums gallery</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-board"></i>
                                                <a href="gallery-grid.html">Grid gallery</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-board"></i>
                                                <a href="gallery-masonry.html">Masonry gallery</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-professor"></i>
                                                <a href="careers.html">Careers</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-file-horizontaltext"></i>
                                                <a href="certifications.html">Certifications</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-support"></i>
                                                <a href="faq.html">Faq</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-clock-back"></i>
                                                <a href="history.html">History</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-business-mens"></i>
                                                <a href="team.html">Team</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-pie-chart3"></i>
                                                <a href="reports.html">Reports</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-rainbow-2"></i>
                                                <a href="special-1.html">Special 1</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-rainbow-2"></i>
                                                <a href="special-2.html">Special 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Miscellaneous</h5>
                                        <ul class="fa-ul text-s">
                                            <li>
                                                <i class="fa-li im-financial"></i>
                                                <a href="pricing.html">Pricing</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-error-404window"></i>
                                                <a href="404.html">404</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-secound2"></i>
                                                <a href="coming-soon.html">Coming soon</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-business-manwoman"></i>
                                                <a href="partners.html">Partners</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-mail-withatsign"></i>
                                                <a href="contacts-1.html">Contacts 1</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-mail-withatsign"></i>
                                                <a href="contacts-2.html">Contacts 2</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-mail-withatsign"></i>
                                                <a href="contacts-3.html">Contacts 3</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-mail-withatsign"></i>
                                                <a href="contacts-4.html">Contacts 4</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-note"></i>
                                                <a href="services-1.html">Services 1</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-note"></i>
                                                <a href="services-2.html">Services 2</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-note"></i>
                                                <a href="services-3.html">Services 3</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-note"></i>
                                                <a href="services-4.html">Services 4</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-note"></i>
                                                <a href="service-single-1.html">Single service</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-note"></i>
                                                <a href="service-single-2.html">Single service 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Portfolio</h5>
                                        <ul class="fa-ul text-s">
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-1-gutted-boxed.html">1. Gutted boxed</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-1-gutted-full-width.html">1. Gutted full width</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-2-full-width.html">2. Full width background</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-2-boxed.html">2. Boxed background</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-2-gutted-boxed.html">2. Gutted boxed</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-2-gutted-full-width.html">2. Gutted full width</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-3-gutted-boxed.html">3. Gutted boxed</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-3-gutted-full-width.html">3. Gutted full width</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-4-gutted-boxed.html">4. Gutted boxed</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-3"></i>
                                                <a href="portfolio-4-gutted-full-width.html">4. Gutted full width</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-card"></i>
                                                <a href="portfolio-single-1.html">Portfolio single 1</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-card"></i>
                                                <a href="portfolio-single-2.html">Portfolio single 2</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-card"></i>
                                                <a href="portfolio-single-3.html">Portfolio single 3</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-card"></i>
                                                <a href="portfolio-single-4.html">Portfolio single 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Portfolio single</h5>
                                        <ul class="fa-ul text-s">
                                            <li>
                                                <i class="fa-li im-id-card"></i>
                                                <a href="portfolio-single-5.html">Portfolio single 5</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-card"></i>
                                                <a href="portfolio-single-6.html">Portfolio single 6</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-id-card"></i>
                                                <a href="portfolio-single-7.html">Portfolio single 7</a>
                                            </li>
                                        </ul>
                                        <h5>Blog</h5>
                                        <ul class="fa-ul text-s">
                                            <li>
                                                <i class="fa-li im-newspaper"></i>
                                                <a href="blog-1.html">Blog 1</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-newspaper"></i>
                                                <a href="blog-2.html">Blog 2</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-newspaper"></i>
                                                <a href="blog-grid.html">Grid blog</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-newspaper"></i>
                                                <a href="blog-masonry.html">Masonry blog</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-facebook"></i>
                                                <a href="blog-social.html">Blog social</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-notepad"></i>
                                                <a href="blog-single-1.html">Blog single 1</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-notepad"></i>
                                                <a href="blog-single-2.html">Blog single 2</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-notepad"></i>
                                                <a href="blog-single-3.html">Blog single 3</a>
                                            </li>
                                            <li>
                                                <i class="fa-li im-notepad"></i>
                                                <a href="blog-single-4.html">Blog single 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="btn-group navbar-left navbar-social">
                            <div class="btn-group social-group">
                                <a target="_blank" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a target="_blank" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>