<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>
    <meta name="description" content="Multipurpose HTML template and theme.">
    <script src="../scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="../scripts/bootstrap/css/bootstrap.css">
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="../css/content-box.css">
    <link rel="stylesheet" href="../css/image-box.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href='../css/components.css'>
    <link rel="stylesheet" href='../scripts/flexslider/flexslider.css'>
    <link rel="stylesheet" href='../scripts/magnific-popup.css'>
    <link rel="stylesheet" href='../scripts/php/contact-form.css'>
    <link rel="stylesheet" href='../scripts/social.stream.css'>
    <link rel="icon" href="../images/tab-favicon.png">
    <link rel="stylesheet" href="../skin.css"><!-- Extra optional content header -->
    <link rel="stylesheet" href="../css/custom.css">
</head>
<body>
    {% include nav.html %}
    {{content}}
    <footer class="footer-center footer-minimal">
        {% include footer.html %}
    </footer>
</body>
</html>
